body{
    max-width: 560px;
    border: 0;
    margin: auto;
    font-family: 'Merriweather', serif;
    font-family: 'Open Sans Condensed', sans-serif;
    font-family: 'Noto Sans', sans-serif;
}
    .page{
        margin-top: 100px;
    }
    .nav_home{
        position: absolute;
        right: 0;
        top: 0;
    }
    .nav, a{
        display: inline;
        text-decoration: none;
        list-style-type: none;
        padding: 0.5rem;
    }
    img{
        width: 50%;
        margin: 0 auto;
        display: flex;
    }
    footer{
        border-top: 1px solid #ededed;
    padding: 40px 0;
    margin: 40px 0 0;
    font-size: 1.3rem;
    color: #aaa;
    font-weight: 300;
    text-align: center;
    position: relative;
    }
