    *{
        box-sizing: border-box;
    }

    body{
        width: 100%;
        line-height: 1;
        margin: 0;
        align-items: center;
        font-family: 'Merriweather', serif;
        font-family: 'Open Sans Condensed', sans-serif;
        font-family: 'Noto Sans', sans-serif;

    }
    .container{
        display: -webkit-flex;
        align-items: center;
        justify-content: center;
        flex-flow: column wrap;
        align-content: center;

    }
    .logo{
        text-align: center;
        display: flex 1 1 auto;
        margin-top:6rem;
        text-align: center;
        position:
        z-index: 99;
    }
    .title{
        font-size: 2rem;
        letter-spacing: 0.1rem;
        color: #222;
        font-weight: 700;
    }
    .icos{
        margin-top: 1rem;
        display: inline-flex;
        cursor: pointer;
        padding-bottom: 3rem;
    }
    .fa{
        font-size: 24px;
        padding: 1rem;
        cursor: pointer;
    }
    .natural{
        padding: 0;
        margin-top: 1.2rem;
        width: 3rem;
        height: 3rem;
    }

    h2{
        font-size: 1.50rem;
        font-weight: 300;
        font-style: normal;
        color: #aaa;
        margin: 1rem;
    }
    img{
        margin-bottom: 1rem;
        border-radius: 50%;
        width: 9rem;
    }
    .nav_home{
        position: absolute;
        right: 0;
        top: 0;

    }

    ul{
    display:flex;
    margin: auto;
    padding: 0;
    line-height: 2.4rem;
    font-weight: 300;
    color: #aaa;
    }
    li, a {
        text-decoration: none;
        list-style: none;
        text-align:center;
        padding: 0.3rem 0.3rem;
    }
    .list{
        border-top: 1px solid #ededed;
        display:block;
        width: auto;
        height: 50%;
        font-size: 16px;
    }
    .items{
        display: inline-flex;
        width: auto;
    }
    .items_star{
        display: inline-flex;
        width: auto;
        font-size: 16px;
    }
    .url{
        padding-top: 3rem;
        justify-content: space-between;
        display: inline-flex;
        width: 30rem;
        padding: auto;
    }
    .date{
        padding: 0;
        position: relative;
        top:1.5rem;
    }

    footer{

        padding: 30px 0;
        margin: 40px 0 0;
        font-size: 1rem;
        color: #aaa;
        font-weight: 300;
        text-align: center;
        position: relative;
    }
